#form{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#reiniciar{
    margin-top: 20px;
    border: color-mix(in hsl shorter hue, color percentage, color percentage);
    border-radius: 15px;
    border-style:none;
    cursor: pointer;
    font-size: 15px;
}
#reiniciar:hover{
    background-color: #d5d8d7;
}
#resultImc{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#titulo{
    font-size: 20px;
}